* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container {
    display:flex;
    margin:20px auto;
    padding:20px;
    max-width: 1200px;
    
}

.left-section {
    flex:1;
    padding: 20px;
}

.sidebar {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.icons {
    margin-top:10px;
}

.icons img {
    width:24px;
    height:24px;
}

.centre-section {
    flex:2;
}

.centre-section h2 {
    font-size: 24px;
    color:rgb(255, 0, 119);
    margin-bottom: 10px;
}

.right-section {
    position:relative;
    flex:3;
    width: fit-content;
}

.right-section img {
    border-radius: 5px;
    width:60%;
}

hr {
    margin-left:60px;
    width:930px;
}